@font-face {
    font-family: 'Nunito-bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v12/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'), url(https://fonts.gstatic.com/s/archivoblack/v9/HTxqL289NzCGg4MzN6KJ7eW6CYyF_jzx13E.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v11/pxiKyp0ihIEF2isfFJXUdVNF.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Basic Styling*/
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(#D3CFCE, #C26D8A);
    overflow-x: hidden;
}

/* Stlying of the header */

.header {
    display: inline-block;
}

.banner {
    width: 100vw;
    height: 5vh;
    text-align: center;
    margin-top: 5vh;
    font-size: 1.2em;
}

.banner h3 {
    font-family: 'Roboto Mono';
    color: #53556A;
}

.dp-container {
    margin-top: 24vh;
}

#dp {
    width: 25vw;
    float:left;
    border-radius: 50%;
    -webkit-shape-outside:circle();
    shape-outside:circle();
    margin: 6vw;
    box-shadow: 0 0 4px #696565;
}

.intro {
    color: #53556A;
    font-family: 'Nunito-bold';
    font-size: 1em;
    margin: 6vw;
}

/* Ok, now to style these silly buttons */

nav {
    position: relative;
    /* z-index: -1; */
}

.button {
    border-radius: 50%;
    border-style: none;
    box-shadow: 0 0 4px #5a5656;
    position: absolute;
    color: rgb(219, 181, 196);
    font-family: 'Roboto Mono';
    font-size: 1.2em;
    background-color: rgba(60, 100, 133, 0.767);
    text-align: center;
    display: inline-block;
}

.button p {
    vertical-align: middle;
}

nav .about {
    top: 10vh;
    right: 18vw;
    width: 27vw;
    height: 27vw;
    line-height: 27vw;
}

nav .projects {
    top: 16vh;
    left: 13vw;
    width: 30vw;
    height: 30vw;
}

nav .projects p {
    margin-top: 7vw;
}

nav .enquire {
    top: 30vh;
    left: 38vw;
    width: 35vw;
    height: 35vw;
    line-height: 35vw;
}

/*  Just lumping all animations in here */

.banner {
    animation-name: banner;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: absolute;
    top: -15vh;
}

@keyframes banner {
    from { top: -15vh;}
    to { top: 0;}
}

.dp-container {
    animation-name: dp;
    animation-duration: 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes dp {
    from {opacity: 0;}
    to {opacity: 100%;}
}

nav .about {
    animation-name: about;
    animation-duration: 1.5s;
    top: 60vh;
    animation-fill-mode: forwards;
}

nav .projects {
    animation-name: projects;
    animation-duration: 1.25s;
    animation-delay: 0.25s;
    top: 60vh;
    animation-fill-mode: forwards;
}

nav .enquire {
    animation-name: enquire;
    animation-duration: 1s;
    animation-delay: 0.5s;
    top: 60vh;
    animation-fill-mode: forwards;
}

@keyframes about {
    from { top: 60vh;}
    to { top: 10vh;}
}
@keyframes enquire {
    from { top: 54vh;}
    to { top: 30vh;}
}
@keyframes projects {
    from { top: 40vh;}
    to { top: 16vh;}
}

/* Time to style this about page */

#about-page, #projects-page, #enquire-page {
    width: 75%;
    height: 90%;
    border-radius: 2% 2% 2% 2%;
    position: absolute;
    z-index: 1;
    left: 100vw;
    transition: left 0.5s;
    padding: 4.5% 12.5%;
    color: #C26D8A;
    background-color: rgb(245, 245, 245);
    font-family: 'Nunito-Bold';
    overflow-y: auto;
}

.container {
    vertical-align: middle;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

#about-page.active, #projects-page.active, #enquire-page.active {
    left: 0vw;
}

.back {
    text-align: right;
}

/* Now I shall style our  projects page */
#projects-page img {
    width: 100%;
}

/* Time to style the form */

button {
    margin-top: 2%;
    padding: 5%;
    border: 1px solid #C26D8A;
    border-radius: 4px;
    color: #C26D8A;
    background-color: white;
    box-shadow: 0 0 2px #5a5656;
}

li {
    margin-top: 2%;
    list-style-type: none;
}

#name, #email {
    width: 70%;
}

label {
    width: 25%;
    margin-right: 2%;
}

textarea {
    width: 100%;
    height: 25vh;
}

textarea, input {
    border: 1px solid #C26D8A;
    border-radius: 4px;
    color: #C26D8A;
    padding: 1%;
}
